.container {
  width: 200px;
  height: min-content;
  border: solid 1px #cacaca;
  border-radius: 10px;
  margin-right: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;

  * {
    width: inherit;
    height: inherit;
  }
}

.container.detailPageCard {
  width: auto;

  & div {
    display: flex;
    justify-content: center;
  }
}

.infoBlock {
  display: flex;
  justify-content: space-around;
  
  p {
    width: min-content;
  }
}

@media (max-width: 1020px) {
  .container.detailPageCard {
    margin-left: 0;
    border: none;
    border-bottom: solid 1px #cacaca;
  }
}