.mainPage {
  padding: 0 4rem;
}
.preloader, .error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-weight: bold;
    font-size: 5rem;
  }
}